<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc://mysql://localhost/gudetamaBD</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="jmck.gudetama.model.Arc.xml"/>
  <mapping resource="jmck.gudetama.model.Language.xml"/>
  <mapping resource="jmck.gudetama.model.Note.xml"/>
  <mapping resource="jmck.gudetama.model.Subtitle.xml"/>
  <mapping resource="jmck.gudetama.model.User.xml"/>
  <mapping resource="jmck.gudetama.model.Video.xml"/>
 </session-factory>
</hibernate-configuration>
